@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
background-color:#e7e5d9;
}


   
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

.img-flex { 
 display: block;
width: 100%;     
    
}

.box {
    text-align: center;
    background-color:#87714f;
    color: white;
    margin: 0;
}

.title {
    display: inline-block;
    background-color: #e7e5d9;
    color: white;
    text-shadow: 2px 3px 0 #c0bfbf;
}

.star {
    width: 1.5em;
}

.masthead {
    text-align: center;
}







